[user]
  name = Henry Snopek
  email = hhsnopek@gmail.com
  signingkey =
[core]
  excludesfile = ~/.gitignore
[push]
  default = simple
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
[mergetool "vimdiff"]
  cmd = nvr -l -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[status]
  submoduleSummary = true
[commit]
  gpgsign = true
[init]
  templatedir = ~/.config/git-templates
