[user]
  name = Henry Snopek
  email = hhsnopek@gmail.com
  signingkey =
[core]
  excludesfile = ~/.gitignore
[push]
  default = simple
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
[merge]
    tool = nvr
[mergetool "nvr"]
    cmd = "nvr -cc tabnew -o \"$BASE\" \"$REMOTE\" -O \"$LOCAL\" \"$MERGED\""
[status]
  submoduleSummary = true
[commit]
  gpgsign = true
[init]
  templatedir = ~/.config/git-templates
[gpg]
  program = gpg
