sign-git-tag=true
init.author.email=hhsnopek@gmail.com
init.author.name=Henry Snopek
init.author.url=hhsnopek.com
init.license=MIT
init.version=1.0.0
//registry.npmjs.org/:_authToken=2765d462-ac86-4825-ae4c-cec0a0ef7f84
