{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash
# Reruns when the rendered tool list changes: {{ includeTemplate "dot_local/bin/executable_linux-tools.tmpl" . | sha256sum }}
exec "$HOME/.local/bin/linux-tools"
{{ end -}}
