kwmc rule owner="Spotify" properties={scratchpad="hidden"}
kwmc rule owner="System Preferences" properties={float="true"}
kwmc rule owner="Finder" properties={role="AXDialog"}
kwmc rule owner="Finder" role="AXDialog" properties={float="true"}
